/GridPlayer/obj
/GridPlayer/bin
/GridPlayer/.vs
/GridPlayer/Binaries/win-x64/ffprobe.exe
/GridPlayer/Binaries/win-x64/mpv.exe
/GridPlayer/Binaries/win-x64/mpv.pdb
[Bb]in/
[Oo]bj/
# Specific ignores just in case
*.exe
*.pdb
*.dll
GridPlayer/Binaries/win-x64/mpv.com
GridPlayer/download
GridPlayer/Binaries/win-x64/doc/mpbindings.png
GridPlayer/Binaries/win-x64/installer/mpv-icon.ico
